body {
  font-family: "Montserrat", sans-serif;
  padding: 5% 12%;
}

h1 {
  font-weight: normal;
  padding-bottom: 3%;
}

.image {
  text-align: center;
}

.image .caption {
  font-size: 18px;
  transform: scale(0.88,0.9);
  text-align: center;
}