body {
  font-family: "Montserrat", sans-serif;
  padding: 5% 20%;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
}

p {
  font-size: 15px;
  margin-bottom: 3%;
}

.time {
  color: #888;
}

.brief {
  font-style: oblique;
}

img {
  margin: 5% 0 2.5%;
}