body {
  font-family: "Montserrat", sans-serif;
  padding: 5% 12%;
}

h1 {
  font-weight: normal;
  padding-bottom: 3%;
}

.image {
  text-align: center;
}

.image .caption {
  font-size: 18px;
  transform: scale(0.88,0.9);
  text-align: center;
}

.image td {
  position: relative;
  text-align: center;
}

.overlaytwo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 11.5%;
  right: 0;
  height: 100%;
  width: 77.2%;
  opacity: 0;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  background-color: #00000090;
  border-radius: 18%;
  z-index: 1000;
}

.image td:hover .overlaytwo {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  background-color: #00000082;
  border-radius: 18%;
  z-index: 1000;
}

.image td:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}