body {
  font-family: "Montserrat", sans-serif;
  padding: 5% 12%;
}

h1 {
  font-weight: normal;
  padding-bottom: 3%;
}

.content {
  display: inline-block;
  overflow: auto;
  float: left;
  text-align: center;
}

.contentLeft {
  display: inline-block;
  margin: 0 20px 50px 0;
}

.contentRight {
  display: inline-block;
  overflow: auto;
  transform: scale(0.88,0.9);
  text-align: left;
  font-size: 18px;
  max-width: 500px;
}