* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#profile {
    border-radius: 50%;
    width: 10%;
    min-width: 90px;
    height: auto;
    padding: 0px;
    margin-top: max(10vh, 5%);
}

#container {
  position: relative;
  width: 75%;
  margin: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  /* font-size: 2.55vw; */
  font-size: calc(12px + 2vw);
  font-weight: 600;
  margin: 1.5%;
  color: #333;
}

h2 {
  font-family: "Montserrat", sans-serif;
  /* font-size: 2.9vw; */
  font-size: calc(12px + 2vw);
  margin-bottom: 5%;
}

h3 {
  font-family: "Lato", sans-serif;
  /* font-size: 1.5vw; */
  font-size: calc(12px + 0.9vw);
  font-weight: 300;
  padding-bottom: 0.5%;
  color: #222;
  letter-spacing: 0.02vw;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.clearfix {
  transform: translate(150%, 0%);
  text-align: center;
  margin-top: 0.5em;
  width: 20%;
  float: left;
}

.link {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #99ccff;
  color: #222;
}

.link,
.link:after,
.link:before {
  transition: all .3s;
}
.link:hover {
  color: #99ccff;
}

.info {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 7px 12px;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.info,
.info:after,
.info:before {
  transition: all .3s;
}
.info:hover {
  text-shadow: 0 0 3px currentColor;
  text-decoration: underline;
}

.content-caption {
  font-family: "Raleway" sans-serif;
  padding-top: 10%;
}

.content {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 18%;
  min-width: 150px;
  margin: 3%;
  overflow: hidden;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.7));
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.3s cubic-bezier(.25,.8,.8,1);
}

.content-overlay {
  border-radius: 15%;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s cubic-bezier(.25,.8,.8,1);
}

.content:hover .content-overlay{
  background: rgba(0,0,0,0.8);
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  font-family: "Raleway", sans-serif;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  opacity: 1;
}

.content-title {
  color: #fff;
  font-size: calc(10px + 0.5vw);
  /* font-size: 1em; */
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-text {
  color: #fff;
  font-size: calc(11px + 0.5vw);
}

.card {
  display: inline-block;
  height: 20vw;
  min-height: 150px;
  position: relative;
  text-align: center;
}

section {
  position: relative;
  height:101vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section:nth-child(even) {
  background-color: #f7f7f7;
}

section.intro {
  height: 101vh;
  text-align: center;
  padding-top: 15vh;
}

section.project {
  height: 101vh;
}

section a span {
  margin-top: 600px;
  position: absolute;
  top: 0;
  left: 48%;
  width: 3vh;
  height: 5vh;
  border: 0.2vh solid black;
  border-radius: 50vh;
  box-sizing: border-box;
}

section span::before {
  position: absolute;
  top: 0.1vh;
  left: 50%;
  content: '';
  width: 0.6vh;
  height: 0.6vh;
  margin-left: -0.3vh;
  background: none;
  border: 0.1px solid black;
  border-radius: 100%;
  -webkit-animation: sdb10 1.5s infinite;
  animation: sdb10 1.5s infinite;
  box-sizing: border-box;
}

/* @-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0.5vh);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 3vh);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes sdb10 {
  0% {
    transform: translate(0, 0.5vh);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 3vh);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.indicator {
  display: inline-block;
  right: 1em;
  padding: 0.35em;
  background: #555;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.indicator--passed, .indicator--upcoming {
  position: fixed;
}
.indicator--passed { 
  top: 0 !important;
}
.indicator--upcoming { 
  bottom: 0 !important;
}
.indicator--active {
  position: absolute;
}
.indicator--viewing, .indicator:hover {
  opacity: 1;
}

.indicator-tooltip {
  position: absolute;
  right: 1.5em;
  width: 0;
  margin-top: -1em;
  background-color: #555;
  color: #fff;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;
  z-index: -1;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.indicator-tooltip:after {
  display: block;
  content: '';
  position: absolute;
  right: -0.8em;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -0.4em;
  border: 0.4em solid transparent;
  border-left: 0.5em solid #555;
}

.indicator .indicator-tooltip {
  width: auto;
  padding: 0.4em;
  overflow: visible;
  z-index: 1;
}

.gallery {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-left: 50%;
  border-spacing: 50px;
  animation: scrollmenu 80s linear infinite;
}

.gallery td {
  position: relative;
  text-align: center;
  padding-right: 5vw;
}

.gallery .caption {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
}

div.scrollmenu {
  background-size: contain;
  background-image: url('../images/gallerybg.jpg');
  overflow: auto;
  white-space: nowrap;
}

.myself {
  width: 100%;
  margin-top: 15vh;
  font-size: 1em;
}

.fa {
  display: inline-block;  
  color: inherit;
  border:1px solid;
  text-decoration: none;
  margin-top: 2vh;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20%;
  box-sizing: border-box;
  margin: 0.5em;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

.fa:hover {
  color: #99ccff;
  border-color:inherit;
}

.fa:nth-of-type(2):hover {
  color: #99ccff;
  border-color:inherit;
}

.fa:nth-of-type(3):hover {
  color: #99ccff;
  border-color:inherit;
}

.fa:nth-of-type(4):hover {
  color: #99ccff;
  border-color:inherit;
}

.fa:nth-of-type(5):hover {
  color: #99ccff;
  border-color:inherit;
}

.fa:nth-of-type(6):hover {
  color: #99ccff;
  border-color:inherit;
}

footer{
  font-family: "Raleway", sans-serif;
  font-size: calc(8px + 0.5vw);
  text-align: center;  
  color: #fff;
  background: #555;
  width: 100vw; 
  position: relative; 
  bottom: 0px;  
  padding:0.8em 0;
}

.white{
  color:#333
}
.white:before{
  background: rgba(240, 240, 240, 0.8);
}
.white footer, .white .fa:hover{
  background-color:rgba(250, 250, 2520, 0.4);
}

@keyframes scrollmenu {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}