* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#profile {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    padding: 0px;
    margin-top: 100px;
}

#content {
  position: relative;
  width: 80%;
  margin: auto;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
  color: #333;
  letter-spacing: 1px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  margin-bottom: 5%;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 1vw;
  color: #222;
  letter-spacing: 1px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.clearfix {
  transform: translate(150%, 0%);
  text-align: center;
  margin-top: 0.5em;
  width: 20%;
  float: left;
}

.icon {
  width: 14px;
  margin-right: 6%;
}

.link {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #99ccff;
  color: #222;
}

.link,
.link:after,
.link:before {
  transition: all .3s;
}
.link:hover {
  color: #99ccff;
}

.info {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 7px 12px;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.info,
.info:after,
.info:before {
  transition: all .3s;
}
.info:hover {
  text-shadow: 0 0 3px currentColor;
  text-decoration: underline;
}

.project-content {
  text-align: center;
}

.project-img{
  margin-bottom: 5%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 80%;
  width: 40%;
  margin: 4%;
  position: relative;
  text-align: center;
}

.card-1 {
  transition: all 0.3s cubic-bezier(.25,.8,.8,1);
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
}

.card-1:hover {
  filter: drop-shadow(0 10px 10px rgba(0,0,0,20));
}

.card-2 {
  transition: all 0.3s cubic-bezier(.25,.8,.8,1);
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
}

.card-2:hover {
  filter: drop-shadow(0 10px 10px rgba(0,0,0,20));
}

section {
  position: relative;
  height: 101vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section:nth-child(even) {
  background-color: #f7f7f7;
}

section.intro {
  text-align: center;
  padding-top: 10vh;
}

/*
section.end {
  height: 5vh;
  margin-bottom: 30px;
  background-color: #fff;
}
*/

section a span {
  margin-top: 565px;
  position: absolute;
  top: 0;
  left: 48%;
  width: 30px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
}

section span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background: none;
  border: 1px solid black;
  border-radius: 100%;
  -webkit-animation: sdb10 1.5s infinite;
  animation: sdb10 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  transform: scale(1.15,1.1);
  text-align: center;
  padding-top: 50px;
}

.indicator {
  display: inline-block;
  right: 1em;
  padding: 0.35em;
  background: #555;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.indicator--passed, .indicator--upcoming {
  position: fixed;
}
.indicator--passed { 
  top: 0 !important;
}
.indicator--upcoming { 
  bottom: 0 !important;
}
.indicator--active {
  position: absolute;
}
.indicator--viewing, .indicator:hover {
  opacity: 1;
}

.indicator-tooltip {
  position: absolute;
  right: 2em;
  width: 0;
  margin-top: -1em;
  background-color: #555;
  color: #fff;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;
  z-index: -1;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.indicator-tooltip:after {
  display: block;
  content: '';
  position: absolute;
  right: -0.8em;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -0.4em;
  border: 0.4em solid transparent;
  border-left: 0.5em solid #555;
}
.indicator .indicator-tooltip {
  width: auto;
  padding: 0.4em;
  overflow: visible;
  z-index: 1;
}