* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#profile {
    border-radius: 50%;
    width: 10%;
    min-width: 75px;
    height: auto;
    padding: 0px;
    margin-top: 100px;
}

#content {
  position: relative;
  width: 75%;
  margin: auto;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2.55vw;
  font-weight: bold;
  margin: 1.5%;
  color: #333;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.9vw;
  margin-bottom: 5%;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  padding-bottom: 0.6%;
  color: #222;
  letter-spacing: 0.02vw;
}

h3.wide {
  line-height: 1.8;
}

h3.narrow {
    line-height: 0.8;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.grid .caption {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  transform: scale(0.88,0.9);
  text-align: center;
}

.gallery .caption {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  transform: scale(0.88,0.9);
  text-align: center;
}
/* 
.clearfix {
  transform: translate(150%, 0%);
  text-align: center;
  margin-top: 0.5em;
  width: 20%;
  float: left;
} */

.icon {
  width: 20px;
  margin-right: 6%;
}

.link {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #99ccff;
  color: #222;
}

.link,
.link:after,
.link:before {
  transition: all .3s;
}
.link:hover {
  color: #99ccff;
}

.info {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 7px 12px;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.info,
.info:after,
.info:before {
  transition: all .3s;
}
.info:hover {
  text-shadow: 0 0 3px currentColor;
  text-decoration: underline;
}

.project-content {
  text-align: center;
}

.project-img{
  margin-bottom: 2%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 80%;
  width: 50%;
  margin: 4%;
  position: relative;
  text-align: center;
}

.card-effect {
  display: inline;
  height: 80%;
  width: 50%;
  margin: 4%;
  position: relative;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.8,1);
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
}

.card-effect:hover {
  filter: drop-shadow(0 10px 10px rgba(0,0,0,20));
}

section {
  position: relative;
  height: 101vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section:nth-child(even) {
  background-color: #f7f7f7;
}

section.intro {
  text-align: center;
  padding-top: 10vh;
}

/*
section.end {
  height: 5vh;
  margin-bottom: 30px;
  background-color: #fff;
}
*/

section a span {
  margin-top: 565px;
  position: absolute;
  top: 0;
  left: 48%;
  width: 30px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
}

section span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background: none;
  border: 1px solid black;
  border-radius: 100%;
  -webkit-animation: sdb10 1.5s infinite;
  animation: sdb10 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  font-family: "Lato", sans-serif;
  font-size: 1vw;
  transform: scale(1.15,1.1);
  text-align: center;
  margin-top: 5vw;
}

.indicator {
  display: inline-block;
  right: 1em;
  padding: 0.35em;
  background: #555;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.indicator--passed, .indicator--upcoming {
  position: fixed;
}
.indicator--passed { 
  top: 0 !important;
}
.indicator--upcoming { 
  bottom: 0 !important;
}
.indicator--active {
  position: absolute;
}
.indicator--viewing, .indicator:hover {
  opacity: 1;
}

.indicator-tooltip {
  position: absolute;
  right: 2em;
  width: 0;
  margin-top: -1em;
  background-color: #555;
  color: #fff;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;
  z-index: -1;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.indicator-tooltip:after {
  display: block;
  content: '';
  position: absolute;
  right: -0.8em;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -0.4em;
  border: 0.4em solid transparent;
  border-left: 0.5em solid #555;
}

.indicator .indicator-tooltip {
  width: auto;
  padding: 0.4em;
  overflow: visible;
  z-index: 1;
}

.grid {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 50px;
}

.grid td {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  z-index: 1000;
}

.grid td:hover .overlay {
  border-radius: 17%;
  background-color: #00000082;
  opacity: 1;
}

.gallery {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-left: 50%;
  border-spacing: 50px;
  animation: scrollmenu 60s linear infinite;
}

.gallery td {
  position: relative;
  text-align: center;
  padding-right: 50px;
}

.gallery .text {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.text {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

div.scrollmenu {
  background-size: contain;
  background-image: url('../images/gallerybg.jpg');
  overflow: auto;
  white-space: nowrap;
}

@keyframes scrollmenu {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}